@model IEnumerable<SimpleShop.Mvc.Areas.Store.ViewModels.ProductViewModel>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <div class="offers-package">
                @for (int i = 0; i < 3; i++)
                {
                    <div class="price-box">
                        <div><h5>@Model.ElementAt(i).Name</h5>@Model.ElementAt(i).Description </div>
                        <div class="validity-price">@Model.ElementAt(i).Price руб</div>
                        <div class="price-button-buy"><a class="btn" asp-area="" asp-controller="Account" asp-action="Login">Купить</a> </div>
                    </div>
                }
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <div class="offers-package">
                @for (int i = 3; i < 6; i++)
                {
                    <div class="price-box">
                        <div><h5>@Model.ElementAt(i).Name</h5>@Model.ElementAt(i).Description </div>
                        <div class="validity-price">@Model.ElementAt(i).Price руб</div>
                        <div class="price-button-buy"><a class="btn" asp-area="" asp-controller="Account" asp-action="Login">Купить</a> </div>
                    </div>
                }
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <div class="offers-package">
                @for (int i = 6; i < 9; i++)
                {
                    <div class="price-box">
                        <div><h5>@Model.ElementAt(i).Name</h5>@Model.ElementAt(i).Description </div>
                        <div class="validity-price">@Model.ElementAt(i).Price руб</div>
                        <div class="price-button-buy"><a class="btn" asp-area="" asp-controller="Account" asp-action="Login">Купить</a> </div>
                    </div>
                }
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <div class="offers-package">
                @for (int i = 9; i < 12; i++)
                {
                    <div class="price-box">
                        <div><h5>@Model.ElementAt(i).Name</h5>@Model.ElementAt(i).Description </div>
                        <div class="validity-price">@Model.ElementAt(i).Price руб</div>
                        <div class="price-button-buy"><a class="btn" asp-area="" asp-controller="Account" asp-action="Login">Купить</a> </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
