@using SimpleShop.Mvc.Areas.Store.ViewModels;
@model ShopCardFiveViewModel

<div class="list-offers">
    @for (int i = 0; i < Model.ShopCard.ListShopItems.Count; i++)
    {
        <div class="order-card">
            <div class="order-card-point">
                <label for="colFormLabel" class="col">Вид услуги:</label>
                <label for="colFormLabel" class="col">Наименование:</label>
                <label for="colFormLabel" class="col">Клуб:</label>
                <label for="colFormLabel" class="col">Срок действия:</label>
                <label for="colFormLabel" class="col">Стоимость:</label>
            </div>
            <div class="order-card-point">
                <div class="card-point-info">
                    @Model.ShopCard.ListShopItems[i].Name
                    <hr />
                    @Model.ShopCard.ListShopItems[i].Description
                    <hr />
                    Simple Shop @Model.ShopCard.ListShopClubs[i].DisplayName
                    <hr />
                    @Model.ShopCard.ListShopItems[i].CountDay дней
                    <hr />
                    @Model.ShopCard.ListShopItems[i].Price руб.
                    <hr />
                </div>
            </div>
        </div>
    }
</div>
<div class="list-price">Итого:<span>@Model.ShopCard.ListShopItems.Sum(c => c.Price).ToString() руб.</span></div>




   
   

    

