@using SimpleShop.Mvc.ViewsModels;
@model ClientViewModel
@{
    ViewData["Title"] = "Account";
}

<div class="account">
    <div class="account-menu">
        <div class="menu-point">
            <button class="btn navbar-account"><i class="fa-solid fa-address-card"></i><a asp-area="" asp-controller="Client" asp-action="Index">МОЙ ПРОФИЛЬ</a> </button>
        </div>
        <div class="menu-point">
            <button class="btn navbar-account"><i class="fa-solid fa-basket-shopping"></i><a asp-area="" asp-controller="Client" asp-action="Purchases">МОИ ПОКУПКИ</a> </button>
        </div>
        <div class="menu-point">
            <button class="btn navbar-account"><i class="fa-solid fa-circle-info"></i><a asp-area="" asp-controller="Client" asp-action="Help">ПОМОЩЬ</a> </button>
        </div>
    </div>

    <div class="account-content">
        <div class="account-user-about">
            <div class="user-about-name">@Model.Name @Model.Surname<p><span>@Model.Phone</span></p></div>
            <div class="account-user-exit">
                <button class="btn navbar-account"><a asp-area="" asp-controller="Home" asp-action="Index">Выйти</a><i class="fa-solid fa-right-from-bracket"></i> </button>
                </div>
        </div>

        <div class="account-personal">
            <div class="account-personal-chapter">ПЕРСОНАЛЬНЫЕ ДАННЫЕ</div>
            <hr />
            <div class="account-personal-card">
                <div class="personal-card-point">
                    <div class="card-point-label">
                        <label for="colFormLabel" class="col">Фамилия, Имя, Отчество</label>
                        <label for="colFormLabel" class="col">Телефон</label>
                        <label for="colFormLabel" class="col">Почта</label>
                        <label for="colFormLabel" class="col">Дата рождения</label>
                        <label for="colFormLabel" class="col">Пол</label>
                    </div>
                    <div class="card-point-info">
                        @Model.Name @Model.Surname @Model.Patronymic
                        <hr />
                        @Model.Phone
                        <hr />
                        @Model.Email
                        <hr />
                        18.04.1998
                        <hr />
                        мужской
                        <hr />
                    </div>
                </div>
                <div class="button-wrapper">
                    <button type="submit" class="btn btn-primary"> <a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="Index">Изменить</a></button>
                </div>
            </div>
        </div>

        <div class="account-personal">
            <div class="account-personal-chapter">ПАРОЛЬ</div>
            <hr />
            <div class="button-wrapper">
                <button type="submit" class="btn btn-primary"> <a class="dropdown-item" asp-area="" asp-controller="Client" asp-action="Index">Изменить</a></button>
            </div>
        </div>
    </div>
</div>
