@model IEnumerable<SimpleShop.Mvc.ViewModels.CoachesViewModel>

<div class="club-content-info">
    <h1><a name="schedule_link">ТРЕНЕРЫ ФИТНЕС-КЛУБА</a></h1>
    <h1>SIMPLE-SHOP @Model.First().ClubName</h1>
</div>

<h2>ТРЕНЕРЫ ТРЕНАЖЕРНОГО ЗАЛА:</h2>
<div class="club-coaches-group">
    @foreach (var coach in Model.Where(c => c.CategoryId == 1))
    {
        <div class="treners" style="background-image: url(@coach.PhotoLink);  background-position:center;">
            <div>@coach.Name</div>
            <button class="description-button-buy-up" data-coach="@coach.Id">Подробнее</button>
        </div>
    }
</div>

<h2>ТРЕНЕРЫ ВОДНОГО КОМПЛЕКСА:</h2>
<div class="club-coaches-group">
    @foreach (var coach in Model.Where(c => c.CategoryId == 2))
    {
        <div class="treners" style="background-image: url(@coach.PhotoLink);  background-position:center; background-size:cover; ">
            <div>@coach.Name</div>
            <button class="description-button-buy-up" data-coach="@coach.Id">Подробнее</button>
        </div>
    }
</div>

<h2>ТРЕНЕРЫ ГРУППОВЫХ ЗАНЯТИЙ:</h2>
<div class="club-coaches-group">
    @foreach (var coach in Model.Where(c => c.CategoryId == 3))
    {
        <div class="treners" style="background-image: url(@coach.PhotoLink); background-position:center;">
            <div>@coach.Name</div>
            <button class="description-button-buy-up" data-coach="@coach.Id">Подробнее</button>
        </div>
    }
</div>

<div class="modal" tabindex="-1" id="coach">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Страница тренера</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                @* <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Купить тренировку</button> *@
                <button type="button" class="description-button-buy"><a class="btn" asp-area="Store" asp-controller="Home" asp-action="Index" asp-route-category="Training">Купить тренировку</a> </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(".description-button-buy-up").click(function () {
        let coachId = $(this).data("coach")

        $.ajax({
            url: 'CoachPage?coachId=' + coachId,
            type: 'GET',
            dataType: 'html',
            success: function (content) {
                $('#coach div.modal-body').html(content);
                $('#coach').modal('show')
            },
            error: function (e) { }
        });
    });
</script>
