@using SimpleShop.Mvc.ViewsModels;
@model ClubViewModel
@{
    ViewData["Title"] = "Murino";
}
<div class="club-content">
    <div class="club-info">
        <div class="info-club-name"><h1>SIMPLE-SHOP @Model.Name</h1></div>
        <div class =info-club-name><h2>ФИТНЕС-КЛУБ С БАССЕЙНОМ</h2></div>
        <div>
            <h5>
                Спортивный клуб с бассейном рядом с метро «Маяковская». Сервис премиального уровня, изысканный интерьер,
                многообразие фитнес программ, профессиональное оборудование, тренеры с высшим профильным образованием,
                панорамный вид на исторический центр города.
            </h5>
        </div>

        <div class="club-info-work">
            <div class="info-time-work">
                Часы работы клуба:<p>будние: @($"{Model.InterpreterStart.ToString(@"hh\:mm")} - {Model.InterpreterFinish.ToString(@"hh\:mm")}")</p><p>выходные: @($"{Model.WeekendsStart.ToString(@"hh\:mm")} - {Model.WeekendsFinish.ToString(@"hh\:mm")}")</p>
            </div>
            <div class="info-adress">
                @Model.City,<p>@Model.Address</p><p>@Model.Phone</p>
            </div>
            <div class="info-service">
                Клиентский сервис:<p>@Model.Phone</p>
            </div>
        </div>

        <div class="info-menu">

            <div class="menu-box">
                <a href="#description_link">АБОНЕМЕНТЫ</a>
                
            </div>

            <div class="menu-box">
                <a href="#schedule_link">РАСПИСАНИЕ</a>
            </div>

            <div class="menu-box">
                <a href="#coaches_link">ТРЕНЕРЫ</a>
                
            </div>

            <div class="menu-box">
                <a href="#description-service_link">ДОП.УСЛУГИ</a>
                
            </div>

        </div>
    </div>

    <h1>ПРЕЗЕНТАЦИЯ</h1>
    <h1>SIMPLE-SHOP @Model.Name</h1>

    <div class="club-presentation">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://fitnesstop.ru/assets/images/products/857/susanin-fitness-zhemchuzhnaya-plaza-4.jpg" class="d-block w-100" alt="https://fitnesstop.ru/assets/images/products/857/susanin-fitness-zhemchuzhnaya-plaza-4.jpg">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ТРЕНАЖЕРНЫЙ ЗАЛ</h5>
                        <p>
                            Сердце любого клуба - тренажерный зал с силовыми и кардиотренажерами а также зонами свободных весов.
                            В нашем клубе для вас представлено самое современное и высокотехнологичное оборудование!
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://forma-fs.by/assets/cache/images/uslugi/dsc_1662-968x504-692.jpg)" class="d-block w-100" alt="https://forma-fs.by/assets/cache/images/uslugi/dsc_1662-968x504-692.jpg)">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>ГРУППОВЫЕ ЗАНЯТИЯ</h5>
                        <p>
                            В клубе SIMPLE_SHOP представлено множество направлений групповых занятий: силовые, аэробные, танцевальные.
                            Тренировки проводятся с использование дополнительного оборудования, музыкальным сопровождением и индивидуальным
                            подходом тренера к каждому клиенту!
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://i8.photo.2gis.com/images/branch/0/30258560046473617_18c1.jpg" class="d-block w-100" alt="https://i8.photo.2gis.com/images/branch/0/30258560046473617_18c1.jpg">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>БАССЕЙН И СПА ЗОНА</h5>
                        <p>
                            В клубе SIMPLE_SHOP располагается 25-метровый бассейн с 3 дорожками, хамамм, финская сауна и джакузи.
                            Вы можете выбрать групповые тренировки в бассейне, индивидуальную тренировку с квалифицированным тренером
                            или свободно плавать самостоятельно и расслабиться после интенсивных нагрузок
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>
        <div class="presentation-gum">
            <div class="presentation-text">
                <h1>ТРЕНАЖЕРНЫЙ ЗАЛ</h1>
                <h5>
                    Сердце любого клуба - тренажерный зал с силовыми и кардиотренажерами а также зонами свободных весов.
                    В нашем клубе для вас представлено самое современное и высокотехнологичное оборудование!
                </h5>
            </div>
        </div>

        <div class="presentation-group">
            <div class="presentation-text">
                <h1>ГРУППОВЫЕ ЗАНЯТИЯ</h1>
                <h5>
                    В клубе SIMPLE_SHOP представлено множество направлений групповых занятий: силовые, аэробные, танцевальные.
                    Тренировки проводятся с использование дополнительного оборудования, музыкальным сопровождением и индивидуальным
                    подходом тренера к каждому клиенту!
                </h5>
            </div>
        </div>

        <div class="presentation-swimming">
            <div class="presentation-text">
                <h1>БАССЕЙН И СПА ЗОНА</h1>
                <h5>
                    В клубе SIMPLE_SHOP располагается 25-метровый бассейн с 3 дорожками, хамамм, финская сауна и джакузи.
                    Вы можете выбрать групповые тренировки в бассейне, индивидуальную тренировку с квалифицированным тренером
                    или свободно плавать самостоятельно и расслабиться после интенсивных нагрузок
                </h5>
            </div>

        </div>
    </div>

    <h1><a name="schedule_link">РАСПИСАНИЕ ФИТНЕС-КЛУБА</a></h1>
    <h1>SIMPLE-SHOP @Model.Name</h1>
    <div class="club-schedule">
        <div class="shedual-table">
            <div class="table-date">
                <div class="date-logo"><i class="fa-regular fa-clock"></i></div>
                <div class="date-day">18.09 пн</div>
                <div class="date-day">19.09 вт</div>
                <div class="date-day">20.09 ср</div>
                <div class="date-day">21.09 чт</div>
                <div class="date-day">22.09 пт</div>
                <div class="date-day">23.09 сб</div>
                <div class="date-day">24.09 вс</div>
            </div>

            <div class="table-lessons">
                <div class="lessons-time">
                    <div class="time-hour">09.00</div>
                    <div class="time-lesson">Lower body</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Bums+ABS</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Lower body</div>
                </div>
                <div class="lessons-time">
                    <div class="time-hour">10.00</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Flex</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson">Lower body</div>
                    <div class="time-lesson">Fitness Yoga</div>
                    <div class="time-lesson">Dumbbells</div>
                    <div class="time-lesson"></div>
                </div>
                <div class="lessons-time">
                    <div class="time-hour">11.00</div>
                    <div class="time-lesson">Lower body</div>
                    <div class="time-lesson">Flex</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Bums+ABS</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Body sculpt</div>
                </div>
                <div class="lessons-time">
                    <div class="time-hour">16.00</div>
                    <div class="time-lesson">Lower body</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson">Dumbbells</div>
                </div>
                <div class="lessons-time">
                    <div class="time-hour">17.00</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Lower body</div>
                    <div class="time-lesson">Bums+ABS</div>
                    <div class="time-lesson">Fitness Yoga</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson">Flex</div>
                </div>
                <div class="lessons-time">
                    <div class="time-hour">18.00</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson">Lower body</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson">Body sculpt</div>
                    <div class="time-lesson"></div>
                    <div class="time-lesson"></div>
                </div>
            </div>
        </div>
    </div>

    <h1><a name="coaches_link">ТРЕНЕРЫ ФИТНЕС-КЛУБА</a></h1>
    <h1>SIMPLE-SHOP @Model.Name</h1>
    
    <div class="club-coaches">
        <h2>ТРЕНЕРЫ ТРЕНАЖЕРНОГО ЗАЛА:</h2>
        <div class="club-coaches-group">
           
            <div class="treners">
                <div>АЛЕКСАНДР</div>
                <i class="fa-solid fa-person"></i>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="Training">Купить тренировку</a> </div>
            </div>
            <div class="treners">
                <div>ДМИТРИЙ</div>
                <i class="fa-solid fa-person"></i>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="Training">Купить тренировку</a> </div>
            </div>
            <div class="treners">
                <div>СЕРГЕЙ</div>
                <i class="fa-solid fa-person"></i>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="Training">Купить тренировку</a> </div>
            </div>
        </div>
        <h2>ТРЕНЕРЫ ВОДНОГО КОМПЛЕКСА:</h2>
        <div class="club-coaches-group">
            
            <div class="treners">
                <div>АННА</div>
                <i class="fa-solid fa-person-dress"></i>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="Training">Купить тренировку</a> </div>
            </div>
            <div class="treners">
                <div>КСЕНИЯ</div>
                <i class="fa-solid fa-person-dress"></i>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="Training">Купить тренировку</a> </div>
            </div>
            <div class="treners">
                <div>ТИМОФЕЙ</div>
                <i class="fa-solid fa-person"></i>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="Training">Купить тренировку</a> </div>
            </div>
        </div>
        <h2>ТРЕНЕРЫ ГРУППОВЫХ УРОКОВ:</h2>
        <div class="club-coaches-group">
            <div class="treners">
                <div>ВИКТОРИЯ</div>
                <i class="fa-solid fa-person-dress"></i>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="Training">Купить тренировку</a> </div>
            </div>
            <div class="treners">
                <div>АЛЕКСЕЙ</div>
                <i class="fa-solid fa-person"></i>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="Training">Купить тренировку</a> </div>
            </div>
            <div class="treners">
                <div>КРИСТИНА</div>
                <i class="fa-solid fa-person-dress"></i>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="Training">Купить тренировку</a> </div>
            </div>
        </div>
    </div>

    <h1><a name="description_link">АБОНЕМЕНТЫ ФИТНЕС-КЛУБ</a></h1>
    <h1>SIMPLE-SHOP @Model.Name</h1>

    <div class="club-price">

        <div class="club-description">
            <div class="validity-period">1 день</div>
            <div><h5>ГОСТЕВОЙ ВИЗИТ</h5>Часы посещения не ограничены </div>
            <div class="validity-price">2800 руб</div>
            <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
        </div>

        <div class="club-description">
            <div class="validity-period">1 год</div>
            <h5>БЕЗЛИМИТНЫЙ</h5>
            Часы посещения не ограничены
            <div class="validity-price">22000 руб</div>
            <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
        </div>

        <div class="club-description">
            <div class="validity-period">6 месяцев</div>
            <h5>УТРЕННИЙ</h5>
            Часы посещения клуба c 7:00 до 13:00
            <div class="validity-price">16000 руб</div>
            <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
        </div>

        <div class="club-description">
            <div class="validity-period">2 года</div>
            <h5>СЕМЕЙНЫЙ</h5>
            Абонемент для двоих. Часы посещения не ограничены
            <div class="validity-price">36000 руб</div>
            <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
        </div>

    </div>

    <h1><a name="description-service_link">ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</a></h1>
    <h1>SIMPLE-SHOP @Model.Name</h1>

    <div class="club-price-service">
        <h2>АРЕНДА ПОЛОТЕНЦА</h2>
        <div class="services-position">
            <div class="club-description">
                <div class="validity-period">1 месяц</div>
                <div><h5>ПОЛОТЕНЦЕ</h5></div>
                <div class="validity-price">650 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
            <div class="club-description">
                <div class="validity-period">3 месяца</div>
                <div><h5>ПОЛОТЕНЦЕ</h5></div>
                <div class="validity-price">1300 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
            <div class="club-description">
                <div class="validity-period">6 месяцев</div>
                <div><h5>ПОЛОТЕНЦЕ</h5></div>
                <div class="validity-price">2400 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
            <div class="club-description">
                <div class="validity-period">12 месяцев</div>
                <div><h5>ПОЛОТЕНЦЕ</h5></div>
                <div class="validity-price">4500 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
        </div>
        <h2>СОЛЯРИЙ</h2>
        <div class="services-position">

            <div class="club-description">
                <div class="validity-period">1 месяц</div>
                <div><h5>СОЛЯРИЙ</h5></div>
                <div class="validity-price">1200 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
            <div class="club-description">
                <div class="validity-period">3 месяца</div>
                <div><h5>СОЛЯРИЙ</h5></div>
                <div class="validity-price">3500 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
            <div class="club-description">
                <div class="validity-period">6 месяцев</div>
                <div><h5>СОЛЯРИЙ</h5></div>
                <div class="validity-price">6500 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
            <div class="club-description">
                <div class="validity-period">12 месяцев</div>
                <div><h5>СОЛЯРИЙ</h5></div>
                <div class="validity-price">12000 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
        </div>
        <h2>АРЕНДА ШКАФЧИКА В РАЗДЕВАЛКЕ</h2>
        <div class="services-position">

            <div class="club-description">
                <div class="validity-period">1 месяц</div>
                <div><h5>ШКАФЧИК</h5></div>
                <div class="validity-price">900 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
            <div class="club-description">
                <div class="validity-period">3 месяца</div>
                <div><h5>ШКАФЧИК</h5></div>
                <div class="validity-price">2500 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
            <div class="club-description">
                <div class="validity-period">6 месяцев</div>
                <div><h5>ШКАФЧИК</h5></div>
                <div class="validity-price">4800 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
            <div class="club-description">
                <div class="validity-period">12 месяцев</div>
                <div><h5>ШКАФЧИК</h5></div>
                <div class="validity-price">9000 руб</div>
                <div class="description-button-buy"><a class="btn" asp-area="" asp-controller="Home" asp-action="SignIn">Купить</a> </div>
            </div>
        </div>

    </div>
</div>




